body {
    background-color: brown;
    display: grid;
    
}

.title-background {
    background-color: red;
    padding-left: 20vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 20px;
}

.main {
    background-color: #1F51FF;
    border-radius: 20px;
    justify-self: center;
}
footer {
    background-color: yellow;
    padding-left: 25px;
}
